.sidenote {
  position: fixed;
  top: 40%;
  right: 2rem;
  max-width: 20rem;
  transition: 0.2s ease-in transform;
  transform: translateX(100%) translateX(2rem);
}

.sidenote.display {
  transform: translateX(0);
}

figcaption {
  text-align: center;
  font-size: 0.8em;
}

.footnotes > ol > li {
  font-size: 0.8em;
}

.footnotes > ol > li > p {
  font-size: inherit;
  margin: 0.7em 0;
}

@media (min-width: 1200px) {
.intro-header .page-heading h1 {
    font-size: 4rem;
}}